html, body {
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0;
}

#header {
    color: #ddd;
    background: #151c2f;
    /*background: rgb(21, 32, 52);*/
    font-family: "Varela round", sans-serif;
}

.cg-toolbar-button {
    font-size: .7em;
}

.cg-toolbar-button core-icon {
    margin-right: 10px;
}