/* General */
#svg {
    background: #2b2b2b;
}

/* Types */
#svg [class^="type-"] { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-stream { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-boolean { fill: rgba(28, 188, 156, 1); stroke: rgba(28, 188, 156, 1); }
#svg .type-number { fill: rgba(241, 196, 15, 1); stroke: rgba(241, 196, 15, 1); }
#svg .type-string { fill: rgba(230, 126, 34, 1); stroke: rgba(230, 126, 34, 1); }
#svg .type-vec3 { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-vec2 { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-color { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-list { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-dictionary { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-resource { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Connection */
#svg .connection.selected {
    stroke-dasharray: 10, 5;
}

/* Block and groups */
#svg .group .title, #svg .block .title {
    /*font-family: arial, sans-serif;*/
    font-family: "Varela", sans-serif;
    font-weight: normal;
    font-size: .9em;
    stroke: transparent;
}
#svg .group .background, #svg .block .background {
    fill: rgba(30, 30, 30, 0.8);
}
#svg .group:hover .background, #svg .block:hover .background {
    fill: rgba(20, 20, 20, .8);
}
#svg .group.selected .background, #svg .block.selected .background {
    fill: rgba(20, 20, 20, .8);
    stroke-width: 2px;
}

/* Blocks */
#svg .block .description {
    fill: #999;
    /*font-family: arial, sans-serif;*/
    font-family: "Lato", sans-serif;
    stroke: transparent;
    /*font-family: Monaco, Consolas, "Lucida Console", monospace;*/
    font-size: .7em;
}

/* Group and Action */
#svg .group .background, #svg .action .background {
    stroke: black;
}
#svg .group .title, #svg .action .title {
    fill: #c4c4c4;
}

/* Getter */
#svg .getter .title, #svg .picker .title {
    font-size: .8em;
}