core-toolbar {
    color: #ddd;
    background: #222;
    font-family: helvetica, sans-serif;
    font-weight: 200;
    border-bottom: 1px solid black;
}
#text-input {
    margin-left: 20px;
    color: #444;
}
[disabled] {
    opacity: 0.7;
}