/* General */
#svg {
    background: rgba(52, 152, 219, 1.0);
}

/* Types */
#svg [class^="type-"] { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-stream { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-boolean { fill: rgba(28, 188, 156, 1); stroke: rgba(28, 188, 156, 1); }
#svg .type-number { fill: rgba(241, 196, 15, 1); stroke: rgba(241, 196, 15, 1); }
#svg .type-string { fill: rgb(255, 167, 38); stroke: rgb(255, 167, 38); }
#svg .type-vec3 { fill: rgba(50, 50, 50, 1); stroke: rgba(50, 50, 50, 1); }
#svg .type-vec2 { fill: rgba(50, 50, 50, 1); stroke: rgba(50, 50, 50, 1); }
#svg .type-color { fill: rgba(50, 50, 50, 1); stroke: rgba(50, 50, 50, 1); }
#svg .type-list { fill: rgba(50, 50, 50, 1); stroke: rgba(50, 50, 50, 1); }
#svg .type-dictionary { fill: rgba(50, 50, 50, 1); stroke: rgba(50, 50, 50, 1); }
#svg .type-resource { fill: rgba(50, 50, 50, 1); stroke: rgba(50, 50, 50, 1); }
#svg .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Connection */
#svg .connection.selected {
    stroke-dasharray: 10, 5;
}

/* Block and groups */
#svg .group .title, #svg .block .title {
    font-family: "Cherry Cream Soda", sans-serif;
    font-weight: 200;
    font-size: .9em;
    stroke: transparent;
}
#svg .group .background, #svg .block .background {
    fill: rgba(52, 152, 219, 1.0);
    stroke-width: 2px;
}
#svg .group.selected .background, #svg .block.selected .background {
    stroke-dasharray: 10, 5;
}

/* Blocks */
#svg .block .description {
    fill: #ccc;
    font-family: "Indie Flower", sans-serif;
    font-weight: 200;
    stroke: transparent;
    font-size: .7em;
}

/* Group and Action */
#svg .group .background, #svg .action .background {
    stroke: white;
}
#svg .group .title, #svg .action .title {
    fill: #eee;
}

/* Getter */
#svg .getter .title, #svg .picker .title {
    font-size: .8em;
}