::content dude-toolbar {
    padding: 10px;
    font-family: "Indie Flower", sans-serif;
    color: #ddd;
    background: rgb(41, 128, 185);
}
::content dude-toolbar.top { border-bottom: 2px solid #eee; }
::content dude-toolbar.bottom { border-top: 2px solid #eee; }

::content dude-sidebar {
    font-family: "Indie Flower", sans-serif;
    color: #eee;
    background: rgb(41, 128, 185);
    padding: 10px;
}
::content dude-sidebar.left { border-right: 2px solid #eee; }
::content dude-sidebar.right { border-left: 2px solid #eee; }

::content dude-toolbar-input /deep/ input[is="core-input"] {
    color: #eee;
}