#settings {
    color: #aaa;
    background: rgba(20, 20, 20, 0.9);
    border: 1px solid #000000;
    font-family: "Lato", sans-serif;
    border-radius: 3px;
}
#settings /deep/ h1 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #eee;
}
#settings section {
    padding: 10px;
}
#settings label span {
    display: inline-block;
    min-width: 200px;
}
#settings paper-button[autofocus] {
    color: rgb(243, 156, 18);
}
.notification {
    color: #eee;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    border-radius: 3px;
    font-size: .8em;
    box-shadow: none;
}
#error { background: rgba(231, 76, 60, 0.8); }
#success { background: rgba(46, 204, 113, 0.8); }
dude-sidebar .search-result {
    padding: 10px;
    border-bottom: 1px solid #444;
}
dude-sidebar .search-result:last-child {
    border-bottom: none;
}
paper-item {
    color: #444;
}
paper-toggle-button::shadow #toggleContainer[checked] .toggle {
    background: rgb(243, 156, 18);
}
paper-toggle-button::shadow #toggleContainer[checked] .toggle-ink {
    color: rgba(243, 156, 18, 1);
}