.notification {
    color: #eee;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    border-radius: 3px;
    font-size: .8em;
    box-shadow: none;
}
#error { background: rgba(231, 76, 60, 0.8); }
#success { background: rgba(46, 204, 113, 0.8); }
paper-item {
    color: #444;
}
paper-toggle-button::shadow #toggleContainer[checked] .toggle {
    background: rgb(243, 156, 18);
}
paper-toggle-button::shadow #toggleContainer[checked] .toggle-ink {
    color: rgba(243, 156, 18, 1);
}