@import url(themes/audigame/types.css);
@import url(themes/base/panel.css);

:host {
    background: #333;
}

/* Toolbar */
::content dude-toolbar {
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: rgb(243, 156, 18);
    background: #222;
    height: 40px;
}
::content dude-toolbar.top { border-bottom: 1px solid rgb(243, 156, 18); }
::content dude-toolbar.bottom { border-top: 1px solid rgb(243, 156, 18); }

/* Toolbar input */
::content dude-toolbar-input /deep/ input[is="core-input"] {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #ccc;
    padding: 5px;
}

/* Toolbar command */
::content dude-toolbar /deep/ paper-icon-button[disabled] {
    color: rgba(243, 156, 18, 0.5);
}


/* Sidebar */
::content dude-sidebar {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #ddd;
    background: #222;
}
::content dude-sidebar.left { border-right: 1px solid rgb(243, 156, 18); }
::content dude-sidebar.right { border-left: 1px solid rgb(243, 156, 18); }
::content dude-sidebar .title {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
::content dude-sidebar .subtitle {
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
}
::content dude-sidebar .box {
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
}
::content dude-sidebar .box input[is="core-input"] {
    color: #ccc;
}
::content dude-sidebar .box audio {
    width: 100%;
}
::content dude-sidebar .box cg-file-button /deep/ paper-button {
    text-transform: none;
}
