
/* Toolbar */
::content dude-toolbar {
    padding: 5px;
    font-family: "Varela", sans-serif;
    color: rgba(230, 126, 34, 1);
    background: #222;
    height: 30px;
}
::content dude-toolbar.top { border-bottom: 1px solid rgba(230, 126, 34, 1); }
::content dude-toolbar.bottom { border-top: 1px solid rgba(230, 126, 34, 1); }

/* Toolbar input */
::content dude-toolbar-input /deep/ input[is="core-input"] {
    font-family: "Lato", sans-serif;
    color: #ccc;
    padding: 5px;
}

/* Toolbar command */
::content dude-toolbar /deep/ paper-icon-button {
    padding: 5px;
}
::content dude-toolbar /deep/ paper-icon-button /deep/ core-icon[role=img] {
    width: 15px;
    height: 15px;
}

/* Sidebar */
::content dude-sidebar {
    font-family: "Lato", sans-serif;
    color: #ddd;
    background: #222;
    padding: 10px;
}
::content dude-sidebar.left { border-right: 1px solid rgba(230, 126, 34, 1); }
::content dude-sidebar.right { border-left: 1px solid rgba(230, 126, 34, 1); }
