/**
 * Types
 */

html /deep/ .type-stream { color: rgba(220, 220, 220, 1);  fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
html /deep/ .type-sound { color: rgba(241, 196, 15, 1);  fill: rgba(241, 196, 15, 1); stroke: rgba(241, 196, 15, 1); }
html /deep/ .type-string { color: rgba(230, 126, 34, 1);  fill: rgba(230, 126, 34, 1); stroke: rgba(230, 126, 34, 1); }
html /deep/ .type-boolean { color: rgba(46, 204, 113, 1);  fill: rgba(46, 204, 113, 1); stroke: rgba(46, 204, 113, 1); }
html /deep/ .type-number { color: rgba(33, 150, 243, 1);  fill: rgba(33, 150, 243, 1); stroke: rgba(33, 150, 243, 1); }

/**
 * General
 */

html /deep/ body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

html /deep/ .box {
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

html /deep/ paper-toast {
    color: #eee;
    border-radius: 3px;
    font-size: .8em;
}

html /deep/ paper-toast.error { background: rgba(231, 76, 60, 0.8); }
html /deep/ paper-toast.success { background: rgba(46, 204, 113, 0.8); }
html /deep/ paper-item {
    color: #444;
}
html /deep/ paper-toggle-button::shadow #toggleContainer[checked] .toggle {
    background: rgb(243, 156, 18);
}
html /deep/ paper-toggle-button::shadow #toggleContainer[checked] .toggle-ink {
    color: rgba(243, 156, 18, 1);
}
html /deep/ paper-button {
    text-transform: none;
}
html /deep/ paper-button.primary {
    background: rgb(243, 156, 18);
    color: #222;
}
html /deep/ paper-button.full {
    width: 100%;
    margin: 0;
}

/**
 * Header
 */

core-toolbar {
    background: rgb(243, 156, 18);
}
core-toolbar paper-button {
    text-transform: none;
    font-size: .7em;
    color: #ccc;
}
core-toolbar paper-button.dark { background: #2b2b2b; }
core-toolbar paper-button.primary {
    color: #222;
    background: rgb(243, 156, 18);
}
core-toolbar paper-button span {
    padding-left: 5px;
}
[drawer] {
    background: #222;
    color: #aaa;
}
[drawer] core-item {
    padding: 10px;
    cursor: pointer !important;
}
[drawer] core-item:not(:last-child) {
    border-bottom: 1px solid #444;
}
[drawer] core-item.core-selected {
    color: #eee;
    font-weight: normal;
}

/**
 * Toolbar
 */

html /deep/ dude-toolbar {
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: rgb(243, 156, 18);
    background: #222;
    height: 40px;
}
html /deep/ dude-toolbar.top { border-bottom: 1px solid rgb(243, 156, 18); }
html /deep/ dude-toolbar.bottom { border-top: 1px solid rgb(243, 156, 18); }

/* Toolbar input */
html /deep/ dude-toolbar-input /deep/ input[is="core-input"] {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #ccc;
    padding: 5px;
}

/* Toolbar command */
html /deep/ dude-toolbar /deep/ paper-icon-button[disabled] {
    color: rgba(243, 156, 18, 0.5);
}

/**
 * Sidebar
 */

html /deep/ dude-sidebar {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #ddd;
    background: #222;
}
html /deep/ dude-sidebar.left { border-right: 1px solid rgb(243, 156, 18); }
html /deep/ dude-sidebar.right { border-left: 1px solid rgb(243, 156, 18); }
html /deep/ dude-sidebar .title {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
html /deep/ dude-sidebar .subtitle {
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
}
html /deep/ dude-sidebar /deep/ .box input[is="core-input"] {
    color: #ccc;
}

/**
 * Graph
 */

/* General */

html /deep/ #svg {
    background: #2b2b2b;
}

/* Connection */

html /deep/ #svg .connection.selected {
    stroke-dasharray: 10, 5;
}

/* Block and groups */

html /deep/ #svg .group .title, html /deep/ #svg .block .title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: .9em;
    stroke: transparent;
}
html /deep/ #svg .group .background, html /deep/ #svg .block .background {
    fill: rgba(30, 30, 30, 0.8);
}
html /deep/ #svg .group:hover .background, html /deep/ #svg .block:hover .background {
    fill: rgba(20, 20, 20, .8);
}
html /deep/ #svg .group.selected .background, html /deep/ #svg .block.selected .background {
    fill: rgba(20, 20, 20, .8);
    stroke-width: 2px;
}

/* Blocks */

html /deep/ #svg .block .description {
    fill: #999;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    stroke: transparent;
    font-size: .7em;
}

/* Group and Action */

html /deep/ #svg .group .background, html /deep/ #svg .action .background {
    stroke: black;
}
html /deep/ #svg .group .title, html /deep/ #svg .action .title {
    fill: #c4c4c4;
}

/* Getter */

html /deep/ #svg .variable .title, html /deep/ #svg .value .title {
    font-size: .8em;
    font-style: italic;
}