::content dude-toolbar {
    padding: 10px;
    font-family: arial, sans-serif;
    color: #444;
    background: #eee;
}
::content dude-toolbar.top { border-bottom: 1px solid #ccc; }
::content dude-toolbar.bottom { border-top: 1px solid #ccc; }

::content dude-sidebar {
    font-family: arial, sans-serif;
    color: #444;
    background: #eee;
    padding: 10px;
}
::content dude-sidebar.left { border-right: 1px solid #ccc; }
::content dude-sidebar.right { border-left: 1px solid #ccc; }