core-toolbar {
    color: #444;
    background: #eee;
    border-bottom: 1px solid #ccc;
    font-family: helvetica, sans-serif;
    font-weight: 200;
}
#text-input {
    margin-left: 20px;
    color: #444;
}
#logo {
    opacity: 0.7;
}
[disabled] {
    opacity: 0.7;
}