#cg #selection {
    fill: rgba(255, 255, 255, 0.2);
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 1px;
}
#cg .group, #cg .block {
    cursor: move;
}
#cg .action > text {
    text-anchor: middle;
}
#cg .input, #cg .output {
    cursor: pointer;
}