/**
 * CodeGraph theme for DudeEngine.
 */

/* Global*/
#svg {
    background: #1d283a;
}
#svg #selection {
    fill: rgba(255, 255, 255, 0.2);
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 1px;
}

/* Types */
#svg .type-boolean { fill: #1abc9c; stroke: #1abc9c; }
#svg .type-number { fill: #2ecc71; stroke: #2ecc71; }
#svg .type-vec3 { fill: #3498db; stroke: #3498db; }
#svg .type-vec2 { fill: #2980b9; stroke: #2980b9; }
#svg .type-color { fill: #9b59b6; stroke: #9b59b6; }
#svg .type-string { fill: #e5678d; stroke: #e5678d; }
#svg .type-list { fill: #f1c40f; stroke: #f1c40f; }
#svg .type-dictionary { fill: #f39c12; stroke: #f39c12; }
#svg .type-resource { fill: #e67e22; stroke: #e67e22; }
#svg .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Group */
#svg .group .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke: #ccc;
    stroke-width: 1px;
}
#svg .group.selected .background {
    stroke-width: 2px;
}
#svg .group .title {
    fill: #ccc;
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
}

/* Action */
#svg .action .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke-width: 1px;
    stroke: #ccc;
}
#svg .action:hover .background {
    fill: rgba(15, 30, 40, 0.8);
}
#svg .action.selected .background {
    stroke-width: 2px;
}
#svg .action .title {
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
    fill: #ccc;
}
#svg .action .text {
    fill: #999;
    font-family: "Varela Round", sans-serif;
    font-size: .7em;
}

/* Getters */
#svg .getter .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke-width: 1px;
}
#svg .getter .title {
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
    stroke: transparent;
}
#svg .getter.selected .background {
    stroke-width: 2px;
}

#svg .dom-element input {
    outline: none;
    font-family: "Varela Round", sans-serif;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 5px;
    background: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#svg .picker-string {
    cursor: pointer;
}

#svg .picker-string text {
    font-family: "Varela Round", sans-serif;
    fill: rgba(0, 0, 0, .8);
    font-size: .6em;
}

#svg .picker-string rect {
    fill: rgba(200, 200, 200, 0.5);
}

#svg .picker-string:hover rect,
#svg .picker-vec2:hover rect,
#svg .picker-vec3:hover rect,
#svg .picker-resource:hover rect {
    fill: rgba(200, 200, 200, 0.8);
}

#svg .picker-boolean {
    cursor: pointer;
}

#svg .picker-boolean rect {
    fill: transparent;
    stroke: #888;
    stroke-width: 1px;
}

#svg .picker-boolean path {
    fill: transparent;
    stroke: transparent;
    stroke-width: 2px;
}

#svg .picker-boolean.selected path {
    stroke: #ccc;
}

#svg .picker-resource {
    cursor: pointer;
}

#svg .picker-resource rect {
    fill: rgba(200, 200, 200, 0.5);
}

#svg .picker-resource path {
    fill: rgba(0, 0, 0, .8);
}

#svg .picker-resource text {
    font-family: "Varela Round", sans-serif;
    fill: rgba(0, 0, 0, .8);
    font-size: .6em;
}