/**
 * CodeGraph theme for DudeEngine.
 */

/* Global*/
#error {
    background: rgba(231, 76, 60, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-family: "Varela Round", sans-serif;
    font-size: .8em;
    border-radius: 5px;
    box-shadow: none;
}
#graph {
    background: #1d283a;
}

/* Types */
#graph .type-boolean { fill: #1abc9c; stroke: #1abc9c; }
#graph .type-number { fill: #2ecc71; stroke: #2ecc71; }
#graph .type-vec3 { fill: #3498db; stroke: #3498db; }
#graph .type-vec2 { fill: #2980b9; stroke: #2980b9; }
#graph .type-color { fill: #9b59b6; stroke: #9b59b6; }
#graph .type-string { fill: #e5678d; stroke: #e5678d; }
#graph .type-list { fill: #f1c40f; stroke: #f1c40f; }
#graph .type-dictionary { fill: #f39c12; stroke: #f39c12; }
#graph .type-resource { fill: #e67e22; stroke: #e67e22; }
#graph .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Group */
#graph .group .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke: #ccc;
    stroke-width: 1px;
}
#graph .group.selected .background {
    stroke-width: 2px;
}
#graph .group .title {
    fill: #ccc;
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
}

/* Block */
#graph .block .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke-width: 1px;
}
#graph .block:hover .background {
    fill: rgba(15, 30, 40, 0.8);
}
#graph .block .title {
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
    stroke: transparent;
}
#graph .block.selected .background {
    stroke-width: 2px;
}

/* Action */
#graph .action .background {
    stroke: #ccc;
}
#graph .action .title {
    fill: #ccc;
}
#graph .action .text {
    fill: #999;
    font-family: "Varela Round", sans-serif;
    font-size: .7em;
}

/* Picker */
#graph .picker .element {
    cursor: pointer;
}