/**
 * CodeGraph theme for DudeEngine.
 */

/* Global*/
#error {
    background: rgba(231, 76, 60, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-family: "Varela Round", sans-serif;
    font-size: .8em;
    border-radius: 5px;
    box-shadow: none;
}
#graph {
    background: #1d283a;
}
#group {
    font-family: "Varela Round", sans-serif;
}

/* Types */
#graph .type-boolean { fill: rgba(28, 188, 156, 1); stroke: rgba(28, 188, 156, 1); }
#graph .type-number { fill: rgba(241, 196, 15, 1); stroke: rgba(241, 196, 15, 1); }
#graph .type-string { fill: rgba(230, 126, 34, 1); stroke: rgba(230, 126, 34, 1); }
#graph .type-vec3 { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#graph .type-vec2 { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#graph .type-color { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#graph .type-list { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#graph .type-dictionary { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#graph .type-resource { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#graph .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Group */
#graph .group .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke: #ccc;
    stroke-width: 1px;
}
#graph .group.selected .background {
    stroke-width: 2px;
}
#graph .group .title {
    fill: #ccc;
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
}

/* Block */
#graph .block .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke-width: 1px;
}
#graph .block:hover .background {
    fill: rgba(15, 30, 40, 0.8);
}
#graph .block .title {
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
    stroke: transparent;
}
#graph .block.selected .background {
    stroke-width: 2px;
}

/* Action */
#graph .action .background {
    stroke: #ccc;
}
#graph .action .title {
    fill: #ccc;
}
#graph .action .text {
    fill: #999;
    font-family: "Varela Round", sans-serif;
    font-size: .7em;
}

/* Picker */
#graph .picker .element {
    cursor: pointer;
}