/* General */
#svg {
    background: #e7e7e7;
}
#error {
    background: rgba(231, 76, 60, 0.8);
    color: #eee;
    font-family: helvetica, sans-serif;
    font-weight: 200;
    border-radius: 0;
    font-size: .8em;
    box-shadow: none;
}

/* Types */
#svg .type-boolean { fill: rgba(28, 188, 156, 0.8); stroke: rgba(28, 188, 156, 0.8); }
#svg .type-number { fill: rgba(46, 204, 113, 0.8); stroke: rgba(46, 204, 113, 0.8); }
#svg .type-vec3 { fill: rgba(52, 152, 219, 0.8); stroke: rgba(52, 152, 219, 0.8); }
#svg .type-vec2 { fill: rgba(41, 128, 185, 0.8); stroke: rgba(41, 128, 185, 0.8); }
#svg .type-color { fill: rgba(155, 89, 182, 0.8); stroke: rgba(155, 89, 182, 0.8); }
#svg .type-string { fill: rgba(229, 103, 141, 0.8); stroke: rgba(229, 103, 141, 0.8); }
#svg .type-list { fill: rgba(241, 196, 15, 0.8); stroke: rgba(241, 196, 15, 0.8); }
#svg .type-dictionary { fill: rgba(243, 156, 18, 0.8); stroke: rgba(243, 156, 18, 0.8); }
#svg .type-resource { fill: rgba(230, 126, 34, 0.8); stroke: rgba(230, 126, 34, 0.8); }
#svg .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Block and groups */
#svg .group .title, #svg .block .title {
    fill: #666;
    font-family: helvetica, sans-serif;
    font-weight: 200;
    font-size: .9em;
    stroke: transparent;
}
#svg .group .background, #svg .action .background {
    fill: rgba(240, 240, 240, 0.8);
}
#svg .group:hover .background, #svg .action:hover .background {
    fill: rgba(255, 255, 255, .8);
}
#svg .group.selected .background, #svg .action.selected .background {
    fill: rgba(255, 255, 255, .8);
    stroke-width: 2px;
}

/* Blocks */
#svg .block .text {
    fill: #999;
    font-family: helvetica, sans-serif;
    font-weight: 200;
    font-size: .7em;
}

/* Group and Action */
#svg .group .background, #svg .block .background {
    filter:url(#dropshadow);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, .2));
}

/* Getter */
#svg .getter .title, #svg .picker .title {
    fill: #eee;
    font-size: .8em;
}

#svg .getter circle, #svg .picker circle {
    fill: #eee;
    stroke: #ee;
}