/**
 * CodeGraph theme for DudeEngine.
 */
@import url(themes/dude/types.css);

/* Global*/
#svg {
    background: rgb(55, 71, 79);
}
#group {
    font-family: "Varela Round", sans-serif;
}

#svg .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Connection */
#svg .connection.selected {
    stroke-dasharray: 10, 5;
}

/* Group */
#svg .group .background {
    fill: rgba(38, 50, 56, 0.80);
    stroke: #ccc;
    stroke-width: 1px;
}
#svg .group.selected .background {
    stroke-width: 2px;
}
#svg .group .title {
    fill: #ccc;
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
}

/* Block */
#svg .block .background {
    fill: rgba(38, 50, 56, 0.80);
    stroke-width: 1px;
}
#svg .block:hover .background {
    fill: rgba(38, 50, 56, 0.80);
}
#svg .block .title {
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
    stroke: transparent;
}
#svg .block.selected .background {
    stroke-width: 2px;
}

/* Action */
#svg .action .background {
    stroke: #ccc;
}
#svg .action .title {
    fill: #ccc;
}
#svg .action .description {
    fill: #999;
    font-family: "Varela Round", sans-serif;
    font-size: .7em;
    stroke: transparent;
}

/* Picker */
#svg .picker .element {
    cursor: pointer;
}
