/**
 * CodeGraph theme for DudeEngine.
 */

/* Global*/
#svg {
    background: #1d283a;
}
#group {
    font-family: "Varela Round", sans-serif;
}

/* Types */
#svg [class^="type-"] { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-stream { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-string { fill: rgba(28, 188, 156, 1); stroke: rgba(28, 188, 156, 1); }
#svg .type-boolean { fill: rgb(241, 102, 189); stroke: rgb(241, 102, 189); }
#svg .type-number { fill: rgb(155, 89, 182); stroke: rgb(155, 89, 182); }
#svg .type-vec3 { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-vec2 { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-color { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-list { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-dictionary { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .type-resource { fill: rgba(52, 152, 219, 1); stroke: rgba(52, 152, 219, 1); }
#svg .empty {
    fill: transparent;
    stroke-width: 1px;
}

/* Connection */
#svg .connection.selected {
    stroke-dasharray: 10, 5;
}

/* Group */
#svg .group .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke: #ccc;
    stroke-width: 1px;
}
#svg .group.selected .background {
    stroke-width: 2px;
}
#svg .group .title {
    fill: #ccc;
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
}

/* Block */
#svg .block .background {
    fill: rgba(25, 35, 50, 0.8);
    stroke-width: 1px;
}
#svg .block:hover .background {
    fill: rgba(15, 30, 40, 0.8);
}
#svg .block .title {
    font-family: "Varela Round", sans-serif;
    font-size: .9em;
    stroke: transparent;
}
#svg .block.selected .background {
    stroke-width: 2px;
}

/* Action */
#svg .action .background {
    stroke: #ccc;
}
#svg .action .title {
    fill: #ccc;
}
#svg .action .description {
    fill: #999;
    font-family: "Varela Round", sans-serif;
    font-size: .7em;
    stroke: transparent;
}

/* Picker */
#svg .picker .element {
    cursor: pointer;
}
