@import url(http://fonts.googleapis.com/css?family=Varela+Round);

::content dude-toolbar {
    padding: 10px;
    font-family: "Varela Round", sans-serif;
    color: #ddd;
    background: #15202f;
}
::content dude-toolbar.top { border-bottom: 1px solid #ccc; }
::content dude-toolbar.bottom { border-top: 1px solid #ccc; }

::content dude-sidebar {
    font-family: "Varela Round", sans-serif;
    color: #eee;
    background: #15202f;
    padding: 10px;
}
::content dude-sidebar.left { border-right: 1px solid #ccc; }
::content dude-sidebar.right { border-left: 1px solid #ccc; }

::content dude-toolbar-input /deep/ input[is="core-input"] {
    color: #ccc;
}