/**
 * Types
 */

html /deep/ .type-stream { color: rgba(150, 150, 150, 1);  fill: rgba(150, 150, 150, 1); stroke: rgba(150, 150, 150, 1); }
html /deep/ .type-stream.active { stroke: rgba(255, 255, 255, 1); }
html /deep/ .type-entity-model { color: #5990c7;  fill: #5990c7; stroke: #5990c7; }
html /deep/ .type-vec3 { color: #5990c7;  fill: #5990c7; stroke: #5990c7; }
html /deep/ .type-vec2 { color: #5990c7;  fill: #5990c7; stroke: #5990c7; }
html /deep/ .type-string { color: #f08d49;  fill: #f08d49; stroke: #f08d49; }
html /deep/ .type-boolean { color: #cc99cd;  fill: #cc99cd; stroke: #cc99cd; }
html /deep/ .type-number { color: #f8c555;  fill: #f8c555; stroke: #f8c555; }

/**
 * General
 */

html /deep/ body {
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
}
html /deep/ h1 {
    font-weight: 300;
    text-align: center;
    margin: 0 0 20px 0;
}
html /deep/ p {
    color: #888;
}
html /deep/ .box {
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
}

/**
 * Paper elements.
 */

/* Inputs */
html /deep/ paper-input-decorator {
    padding: 5px 0;
}
html /deep/ paper-input-decorator /deep/ .focused-underline {
    background: #ddb272;
}
html /deep/ paper-input-decorator[focused] /deep/ .floated-label .label-text {
    color: #ddb272;
}
html /deep/ input[is="core-input"]::-webkit-input-placeholder {
    color: #666;
}

/* Buttons */
html /deep/ paper-toggle-button::shadow #toggleContainer[checked] .toggle {
    background: #ddb272;
}
html /deep/ paper-toggle-button::shadow #toggleContainer[checked] .toggle-ink {
    color: #ddb272;
}
html /deep/ paper-button {
    text-transform: none;
}
html /deep/ paper-button.primary {
    background: #ddb272;
    color: #222;
}
html /deep/ paper-button.dark {
    color: #ccc;
    background: #2b2b2b;
}
html /deep/ paper-button.full {
    width: 100%;
    margin: 0;
}

/* Progress */
html /deep/ paper-progress::shadow #activeProgress {
    background-color: #ddb272;
}

/* Toast */
html /deep/ paper-toast {
    color: #eee;
    border-radius: 3px;
    font-size: .8em;
}
html /deep/ paper-toast.error { background: rgba(231, 76, 60, 0.8); }
html /deep/ paper-toast.success { background: rgba(46, 204, 113, 0.8); }

/* Dropdown */
html /deep/ paper-item {
    color: #444;
}

/**
 * Header
 */

core-toolbar {
    background: #ddb272;
}
core-toolbar paper-button {
    text-transform: none;
    font-size: .7em;
    color: #ccc;
}
core-toolbar paper-button.dark { background: #2b2b2b; }
core-toolbar paper-button.primary {
    color: #222;
    background: #ddb272;
}
core-toolbar paper-button span {
    padding-left: 5px;
}
[drawer] {
    background: #222;
    color: #aaa;
}
[drawer] core-item {
    padding: 10px;
    cursor: pointer !important;
}
[drawer] core-item:not(:last-child) {
    border-bottom: 1px solid #444;
}
[drawer] core-item.core-selected {
    color: #eee;
    font-weight: normal;
}

/**
 * Toolbar
 */

html /deep/ dude-toolbar {
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    color: #aaaaaa;
    background: #1a1a1a;
    height: 40px;
}
/*html /deep/ dude-toolbar.top { border-bottom: 1px solid rgb(243, 156, 18); }*/
/*html /deep/ dude-toolbar.bottom { border-top: 1px solid rgb(243, 156, 18); }*/

/* Toolbar input */
html /deep/ dude-toolbar-input /deep/ input[is="core-input"] {
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    color: #ccc;
    padding: 5px;
}

/* Toolbar command */
html /deep/ dude-toolbar /deep/ paper-icon-button {
    transform: scale(0.8);
    transition: .2s;
}
html /deep/ dude-toolbar /deep/ paper-icon-button:hover {
    color: #eeeeee;
    transform: scale(1);
}
html /deep/ dude-toolbar /deep/ paper-icon-button[disabled] {
    color: #666666;
}

/**
 * Sidebar
 */

html /deep/ dude-sidebar {
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    color: #ddd;
    background: #222;
}
/*html /deep/ dude-sidebar.left { border-right: 1px solid rgb(243, 156, 18); }*/
/*html /deep/ dude-sidebar.right { border-left: 1px solid rgb(243, 156, 18); }*/
html /deep/ dude-sidebar .title {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}
html /deep/ dude-sidebar .subtitle {
    font-style: italic;
    color: #aaa;
    margin-top: 10px;
}
html /deep/ dude-sidebar /deep/ .box input[is="core-input"] {
    color: #ccc;
}
html /deep/ dude-sidebar /deep/ p {
    font-family: "Lato", sans-serif;
    margin: 20px;
    font-style: italic;
}

html /deep/ .search-result {
    background: #1a1a1a;
    border-radius: 5px;
}
html /deep/ .search-result:not(:last-child) {
    margin-bottom: 5px;
}

/**
 * Graph
 */

/* General */

html /deep/ #svg {
    background: #2b2b2b;
}

html /deep/ #svg #selection {
    fill: rgba(255, 255, 255, 0.2);
}

/* Connection */

html /deep/ #svg .connection.selected {
    stroke-width: 4px !important;
}

/* Block and groups */

html /deep/ #svg .group .title, html /deep/ #svg .block .title {
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    font-size: .9em;
    stroke: transparent;
}
html /deep/ #svg .block .background {
    opacity: 0.7;
    transition: .2s;
}
html /deep/ #svg .block:hover .background {
    stroke-width: 5px;
}
html /deep/ #svg .block.selected .background {
    opacity: 0.9;
    stroke-width: 5px;
}

html /deep/ #svg .group:hover .background {
    fill: rgba(255, 255, 255, .15);
}
html /deep/ #svg .group.selected .background {
    fill: rgba(255, 255, 255, .15);
}

/* Blocks */

html /deep/ #svg .block .description {
    fill: #999;
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    stroke: transparent;
    font-size: .7em;
}

html /deep/ #svg .block.active .background {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 3px;
}

html /deep/ #svg .block.error .background {
    stroke: rgba(231, 76, 60, 1);
    stroke-width: 2px;
}

/* Group and Action */

html /deep/ #svg .group .background {
    stroke: transparent;
    fill: rgba(255, 255, 255, .1);
}

html /deep/ #svg .action .background {
    stroke: #222;
    fill: #222;
}
html /deep/ #svg .group .title, html /deep/ #svg .action .title {
    fill: #c4c4c4;
}

/* Property */

html /deep/ #svg .variable .title, html /deep/ #svg .value .title {
    font-size: .8em;
    fill: #222;
    /*font-style: italic;*/
}
