core-toolbar {
    color: #ddd;
    background: #15202f;
    font-family: "Varela round", sans-serif;
    border-bottom: 1px solid #ccc;
}
#text-input {
    margin-left: 20px;
    color: #ccc;
}
[disabled] {
    opacity: 0.7;
}