/* Types */
::content dude-sidebar .search-result core-icon.type-stream, ::content cg-dropdown .row.type-stream { color: rgb(220, 220, 220); }
::content dude-sidebar .search-result core-icon.type-string, ::content cg-dropdown .row.type-string { color: rgb(0, 188, 212); }
::content dude-sidebar .search-result core-icon.type-number, ::content cg-dropdown .row.type-number { color: rgb(0, 150, 136); }
::content dude-sidebar .search-result core-icon.type-boolean, ::content cg-dropdown .row.type-boolean { color: rgb(139, 195, 74); }
::content dude-sidebar .search-result core-icon.type-vec3, ::content cg-dropdown .row.type-vec3 { color: rgb(33, 150, 243); }
::content dude-sidebar .search-result core-icon.type-vec2, ::content cg-dropdown .row.type-vec2 { color: rgb(33, 150, 243); }
::content dude-sidebar .search-result core-icon.type-color, ::content cg-dropdown .row.type-color { color: rgb(33, 150, 243); }
::content dude-sidebar .search-result core-icon.type-list, ::content cg-dropdown .row.type-list { color: rgb(33, 150, 243); }
::content dude-sidebar .search-result core-icon.type-dictionary, ::content cg-dropdown .row.type-dictionary { color: rgb(33, 150, 243); }
::content dude-sidebar .search-result core-icon.type-resource, ::content cg-dropdown .row.type-resource { color: rgb(33, 150, 243); }


#svg .type-string { fill: rgb(0, 188, 212); stroke: rgb(0, 188, 212); }
#svg .type-number { fill: rgb(0, 150, 136); stroke: rgb(0, 150, 136); }
#svg .type-boolean { fill: rgb(139, 195, 74); stroke: rgb(139, 195, 74); }
#svg .type-vec3 { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-vec2 { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-color { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-list { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-dictionary { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-resource { fill: rgb(52, 152, 219); stroke: rgb(33, 150, 243); }

/* SVG */
#svg [class^="type-"] { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-stream { fill: rgba(220, 220, 220, 1); stroke: rgba(220, 220, 220, 1); }
#svg .type-string { fill: rgb(0, 188, 212); stroke: rgb(0, 188, 212); }
#svg .type-number { fill: rgb(0, 150, 136); stroke: rgb(0, 150, 136); }
#svg .type-boolean { fill: rgb(139, 195, 74); stroke: rgb(139, 195, 74); }
#svg .type-vec3 { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-vec2 { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-color { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-list { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-dictionary { fill: rgb(33, 150, 243); stroke: rgb(33, 150, 243); }
#svg .type-resource { fill: rgb(52, 152, 219); stroke: rgb(33, 150, 243); }